<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%= link_to "Web Dev On Sales", root_path, class: 'nav-link' %>
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link'%>
    </nav>
  </div>
</div>
