<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Web Dev 減價心酸事</h1>
    <h2 class="lead blog-description">欲哭無淚</h2>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
  </div>
</div>
