<div class="app-card-container">
  <div class="card">
    <h1>Contact Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h3>Phone</h3>
        <p><%= number_to_phone "12345678"%></p>
        <h3>Email</h3>
        <p><a href="mailto:Lorem.Ipsum@loremipsum.com?subject=Contact" "Lorem.Ipsum@loremipsum.com">Lorem.Ipsum@loremipsum.com</a></p>
      </div>
      <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59070.9241561722!2d114.14739573106839!3d22.280536790926543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404005d7c288fed%3A0x1f42b0d8d80bbc23!2sHong+Kong+Police+Headquarters!5e0!3m2!1sen!2shk!4v1494921281942" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
